<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" data-auto-a11y="true">
    // its important to include javascript for fontawesome to work
  </script>
</head>

<body class="body_wrapper">
  <div class="header">
    <img class="header_icon" src="/assets/images/appLogo.png" alt="logo">
    <div class="header_center">
      <form class="header_form" id ="header_form"  action="/" method="post">
        <input id ="header_form_input" type="text" name="input_field" value=""  required>
        <button onclick= "handleSubmit()" type="submit" name="button"><i class="fas fa-download"></i></button>
      </form>
    </div>
  </div>
  <div class="main_message">
    <h2 >{{_mainMessage}}</h2>
    <div class = "donation">
      <P>Since I am using free hosting, only a small size video is allowed from heroku</P>
      <p>That's why I need your support! consider a donation?</p><a href="https://www.patreon.com/eddieprogramming"> <i class="fas fa-hand-holding-usd"></i></a>
    </div>
  </div>
  <div class="error_message">
    <h2>{{_errorMessage}}</h2>
  </div>

</body>
<div class="footer">
  <footer>&copy;Copyright <span id= "currentYear"></span> eddieprogramming</footer>
</div>
  <script type="text/javascript">
    var currentYear = new Date().getFullYear();
    document.getElementById("currentYear").innerHTML = currentYear;


    function handleSubmit() {
     setTimeout(function(){ document.getElementById("header_form_input").value = ""; }, 0);
    }
    // clear userInput once the user clicks the submit button


    var ajax = new XMLHttpRequest();
    ajax.responseType = "blob";
    ajax.open("GET","archive.zip",true);
    ajax.send();

    ajax.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        var obj = window.URL.createObjectURL(this.response);
        document.getElementById("anchor").setAttribute("href",obj);

        setTimeout(function() {
          window.URL.revokeObjectURL(obj);
        }, 60 * 1000);
      }
    };
  </script>
</html>
